/*----------- Main Styles -----*/
body {
     background: #292929;
     color: #eaeaea;
     padding: 32px;
     font: 100% "Open Sans", Helvetica, Arial, sans-serif;
     margin: 0 auto;
     max-width: 800px;
}            
h1 {
     font-size: 1.5em; 
     clear:both;
}
p {
    font-size: 1em;
    line-height: 1.6;
}
em {
    color: #ea6f05;
}

/*------- Styles for Hint -------*/
.hover-hint p {
    border: 1px solid #ea6f05 ;
    font-size: 0.8em;
    margin: 30px 0 0 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase; 
    width: 150px;
}
.hover-hint .hint {
    visibility: hidden;
    opacity: 0;
    -moz-transition: visibility 1s, opacity 1s;
    -webkit-transition: visibility 1s, opacity 1s;
    transition: visibility 1s, opacity 1s;
}
.hover-hint:hover p {
    outline: 1px solid #eb8e3e;
}
.hover-hint:hover .hint {
    visibility: visible;
    opacity: 1;
}

/*---- Syntax Colors -----*/
.orange {
    color: #ffa500;
}
.blue {
    color: #227cbe;
}
.light-blue {
    color: #8bc0e6;
}
.dark-orange {
    color: #b75107;   
}
.green {
  color: #61af12;
}

/*----------Friends!--------*/

.friend {
  margin: 60px 60px 100px 60px;
  width: 20px;
  height: 40px;
}

  .head {
    background-color: #f0f2bf;
    width: 15px;
    height: 15px;
    position: relative;
    top: -15px;
    left: 2.5px;
  }

  .armR {
    background-color: #f0f2bf;
    width: 20px;
    height: 5px;
    position: relative;
    left: 12px;
    top: -10px;
    z-index: -1;
  }

  .armL {
    background-color: #f0f2bf;
    width: 17px;
    height: 5px;
    position: relative;
    left: -12px;
    top: -15px;
    z-index: -1;
  }

  .legR {
    background-color: #f0f2bf;
    width: 25px;
    height: 5px;
    position: relative;
    top: 11px;
    left: 3px;
    transform:rotate(80deg);
    z-index: -1;
  }

.legL {
    background-color: #f0f2bf;
    width: 25px;
    height: 5px;
    position: relative;
    top: 6px;
    left: -7px;
    transform:rotate(-80deg);
    z-index: -1;
  }

.mark {
  background: #0a0a33; 
  float: left;
}

.lisa {
  background: #88111f;
  float: left;
}

.denny {
  background: #38883e;
  float: left;
}

.friend p {
  margin-left: -10px; 
}

/*----- JavaMug ------*/
#coffee {
  background-color: #fff;
  width: 70px;
  height: 100px;
  margin: 20px auto;
  position: relative;
}
.handle {
  background-color: #fff;
  position: relative;
  height: 10px;
  width: 20px;
  left: 70px;
}
#handle1 {
  top: 20px;
}

#handle2 {
  width: 10px;
  height: 60px;
  left: 90px;
  top: 10px;
}

#handle3 {
  top: 0px;
}

.splash {
  width: 7px;
  height: 10px;
  background: #644949;
  position: absolute;
  top: 0px;
  left: 3px;
}

#splash2 {
  left: 10px;
  height: 29px;
}
#splash3 {
  left: 15px;
  height: 16px;
}
#splash4 {
  left: 22px;
  height: 3px;
  width: 8px;
}
