<div style="text-align:center">
  <h1>
    Task Manage
  </h1>
  <div *ngFor="let task of tasks">
    <input type="checkbox" name="completed" [checked]="task.completed" (click)="task.complete()">
    {{task.name}}
  </div>
</div>
